.DS_Store
Thumbs.db
*~
assn-seven/js/phaser.js
assn-seven/js/MyScene.js
assn-seven/assets/untitled.tmx
assn-seven/index.html
assn-seven/assets/level_one_modified.tmx
assn-seven/assets/level_one_modified.json
assn-seven/assets/level_one.tmx
